body,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
dl,
dd {
  padding: 0;
  margin: 0;
}
input,
button,
select,
textarea {
  outline: none;
  border: none;
}
li {
  list-style: none;
}
img {
  border: none;
}
a {
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}
